.completion {
  display: block;
  text-align: center;
  background: #d8c9b6;
  padding: 100px 0;
}

.completion img{
  width: 50%;
  height: 30%;  
}

.completion h1 {
  font-family: 'Montserrat',sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 0 22px 0;
  color: #fff;
}

.link {
  padding: 15px 35px;
  background: #fbb710;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}